<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> <%= title %> | <%= pageTitle %> </title>
  </head>
  <body>
    <header>
      <h1> <%= pageTitle %> </h1>
    </header>
    <form action="spammer/email" method="POST">
      name : <input name="name" type="text" placeholder="FREe VIA_Gr4">
      email : <input name="email" type="email" placeholder="mom@aol.com">
      message : <input name="message" type="text" placeholder="Honey you forgot your lunch at home">
      <input type="submit" value="send">
    </form>
  </body>
</html>
